@model LMYFrameWorkMVC.Common.Models.Common.BaseModel
@using System.Linq;

<ul class="list-group">
    @if (Model != null)
    {
        foreach (LMYFrameWorkMVC.Common.Models.Common.Error error in Model.ErrorsList.Where(x => string.IsNullOrEmpty(x.PropertyName)))
        {
            <li class="alert list-group-item list-group-item-danger">
                <button class="close pull-right" data-dismiss="alert" aria-label="close"> </button>
                @error.Message
            </li>
        }
        foreach (LMYFrameWorkMVC.Common.Models.Common.Success success in Model.SuccessesList)
        {
            <li class="alert list-group-item list-group-item-success">
                <button class="close pull-right" data-dismiss="alert" aria-label="close"></button>
                @success.Message
            </li>
        }

        foreach (LMYFrameWorkMVC.Common.Models.Common.Info info in Model.InfoList)
        {
            <li class="alert list-group-item list-group-item-info">
                <button class="close pull-right" data-dismiss="alert" aria-label="close"></button>
                @info.Message
            </li>
        }

        foreach (LMYFrameWorkMVC.Common.Models.Common.Warning warning in Model.WarningList)
        {
            <li class="alert list-group-item list-group-item-warning">
                <button class="close pull-right" data-dismiss="alert" aria-label="close"></button>
                @warning.Message
            </li>
        }
    }

</ul>
